{{! ┌─────────────────┐ }}
{{! │  Main Template  │ }}
{{! ╘═════════════════╛ }}
<section class="sidebar-tab sidebar-directory tab flexcol">
    <!-- Directory Header -->
    <header class="directory-header">
        <div class="header-search flexrow">
            <label for="search"><i class="fas fa-search"></i></label>
            <input type="text" name="search" value="" placeholder="Search Drawings" autocomplete="off"/>
            <a class="header-control collapse-all" title="Toggle Folder Collapsing"><i class="fas fa-sort-amount-up fa-fw"></i></a>
        </div>
        <div class="layer-tools flexrow">
            {{> toolButton tool="move" label="Move" icon="fas fa-arrows-alt"}}
            {{> toolButton tool="rotate" label="Rotate" icon="fas fa-sync-alt"}}
            {{> toolButton tool="size" label="Size" icon="fas fa-vector-square"}}
            {{> toolButton tool="zIndex" label="Z-Index" icon="fas fa-layer-group"}}
            {{> toolButton tool="opacity" label="Opacity" icon="fas fa-adjust"}}
        </div>
    </header>
  <!-- Directories List -->
  <ol class="directory-list">
      {{~#each tree.children}}
        {{> folderPartial}}
      {{/each}}
  </ol>
  <!-- Directory Footer -->
  <footer class="directory-footer">
    {{#if selected}}
    <ol class="quick-edit-list">
      {{~#each selected}}
        {{> quickEdit-entity}}
      {{/each}}
    </ol>
    {{/if}}
  </footer>
</section>

{{! ┌───────────────┐ }}
{{! │  Tool Button  │ }}
{{! ╘═══════════════╛ }}
{{#*inline "toolButton"}}
  <a class="layer-tool {{#if (eq tool activeTool)}}active{{/if}}" 
     title="{{this.label}}" data-tool="{{this.tool}}">
    <i class="{{this.icon}}"></i>
  </a>
{{/inline}}

{{! ┌──────────────────────────┐ }}
{{! │  Z-Level 'Layer' Folder  │ }}
{{! ╘══════════════════════════╛ }}
{{#*inline "folderPartial"}}
<li class="directory-item folder flexcol {{#unless this.expanded}}collapsed{{/unless}}"
    data-folder-id="{{this._id}}">
  <header class="folder-header flexrow" style="background-color:rgba(0, 0, 0, 0.33);">
    <h3><i class="fas fa-folder-open fa-fw"></i>{{this.data.name}}</h3>
  </header>
  <ol class="subdirectory">
	{{#each this.content}}
    {{> entityPartial}}
  {{/each~}}
  </ol>
</li>
{{/inline}}

{{! ┌─────────────────────────────┐ }}
{{! │  Entity Drawing/Tile Entry  │ }}
{{! ╘═════════════════════════════╛ }}
{{#*inline "entityPartial"}}
<li class="directory-item entity flexrow {{#if this._controlled}}selected{{/if}}" 
    data-entity-id="{{this.data._id}}">
  <h4 class="entity-name">
    <i class="{{this.data.panel.icon}} fa-fw"></i>
  	<a>{{this.data.panel.name}}</a>
  </h4>
  <a class="entity-locked {{#unless this.data.locked}}inactive{{/unless}}">
    {{#if this.data.locked}}<i class="fas fa-lock fa-fw"></i>
    {{else}}<i class="fas fa-lock-open fa-fw"></i>{{/if}}
  </a>
</li>
{{/inline}}

{{! ┌───────────────────┐ }}
{{! │  QuickEdit Entry  │ }}
{{! ╘═══════════════════╛ }}
{{#*inline "quickEdit-entity"}}
<li class="quick-edit-entity flexrow" data-entity-id="{{this.data._id}}">
  <h4 class="entity-header">
    <i class="{{this.data.panel.icon}} fa-fw"></i>{{this.data.panel.name}}
  </h4>
  <div class="input-group flex" data-input-group="position">
    <label class="flex" title="Object Position"><i class="fas fa-arrows-alt fa-fw"></i></label>
    <div class="input-pair">
      <input name="x" type="number" title="X Position" placeholder="x"
               id="{{this.data._id}}_x" value="{{this.data.x}}" data-input-axis="x"/>
      <span>,</span>
      <input name="y" type="number" title="Y Position" placeholder="y"
               id="{{this.data._id}}_y" value="{{this.data.y}}" data-input-axis="y"/>
    </div>
  </div>
  <div class="input-group flex" data-input-group="size">
    <label class="flex" title="Object Size"><i class="fas fa-vector-square fa-fw"></i></label>
    <div class="input-pair">
      <input name="width" type="number" title="Width" placeholder="← →"
               id="{{this.data._id}}_width" value="{{this.data.width}}" data-input-axis="x"/>  
      <span>x</span>
      <input name="height" type="number" title="Height" placeholder="↑↓"
               id="{{this.data._id}}_height" value="{{this.data.height}}" data-input-axis="y"/>
    </div>
  </div>
</li>
{{/inline}}