/* ┌────────────────┐ */
/* │  Layers Panel  │ */
/* ╘════════════════╛ */
/* == General Use == */
/* Normally provided by pf2e.css */
#layers-panel .flex {
    display: flex;
}
/* == Main Container == */
/* Main Container */
#layers-panel {
    min-width: 240px;
}
/* Main Container - Resize Button */
#layers-panel .window-resizable-handle {
    width: 1.2em;
    height: 1.2em;
    right: 0;
    bottom: 0;
    padding: 0;
    border-radius: 4px;
    opacity: 0.5;
}
#layers-panel .window-resizable-handle:hover {
    opacity: 0.75;
}
#layers-panel .window-resizable-handle:active {
    opacity: 1;
}
/* == Header Area == */
/* Header Area */
#layers-panel .directory-header {
    margin: 0;
    padding: 3px 0;
    border-bottom: 1px solid hsla(0,0%,0%,1.0);
}
/* Header Area - Filter Selection Box */
#layers-panel .directory-header select {
    text-align-last: center; /* Only works on Chromium? */
    flex: 1;
    margin: 0 3px;
    background: rgba(255, 255, 245, 0.8);
}
/* Header Area - Tools */
#layers-panel .layer-tools .layer-tool {
    border: 1px solid transparent;
    border-radius: 5px;
}
#layers-panel .layer-tools .layer-tool.active {
    border-color: red;
    box-shadow: 0 0 10px inset orangered;
    text-shadow: 0 0 10px red;
}
#layers-panel .layer-tools .layer-tool-hotkey {
    position: relative;
    top: 0.75em;
    left: -0.25em;
    font-family: 'Consolas', monospace;
    font-size: 0.7em;
}
/* == Directory List == */
/* Directory List */
#layers-panel .directory-list {
    border-top: 1px solid hsla(0,0%,0%,1.0);
    border-bottom: 1px solid hsla(0,0%,0%,1.0);
}
/* Entity - Subdirectory */
#layers-panel .directory-list .subdirectory {
    border-left-width: 4px;
}
/* Entity - Container */
#layers-panel .directory-list .directory-item.entity {
    padding: 6px;
    line-height: 24px;
}
/* Entity - Name */
#layers-panel .directory-list .directory-item.entity .entity-name {
    text-overflow: ellipsis;
}
/* Entity - Name (:hover) */
#layers-panel .directory-list .directory-item.entity .entity-name:hover {
    text-shadow: 0 0 8px red;
}
/* Entity - Font-Awesome icon */
#layers-panel .directory-list .directory-item.entity .entity-name i {
    margin-right: 0.25em;
}
/* Entity - Selected Entity */
#layers-panel .directory-list .directory-item .selected {
    background-color: hsla(0,0%,50%,0.5);
}
/* Entity - Extra Buttons */
#layers-panel .directory-list .directory-item.entity > a {
    flex: 0;
}
/* Entity - Extra Buttons (inactive) */
#layers-panel .directory-list .directory-item.entity > a.inactive {
    opacity: 0.25;
}
/* Entity - Extra Buttons (inactive:hover) */
#layers-panel .directory-list .directory-item.entity > a.inactive:hover {
    opacity: 0.75;
}
/* == Footer == */
/* Footer - Container */
#layers-panel .directory-footer {
    max-height: 25%;
    overflow: auto;
    border-top: 1px solid hsla(0,0%,0%,1.0);
    background-color: hsla(0,0%,25%,0.5);
}
/* Footer - Quick-Edit List Container */
#layers-panel .directory-footer .quick-edit-list {
    margin: 0;
    padding: 0.25em;
    overflow-y: auto;
    list-style: none;
    scrollbar-width: thin;
}
/* Footer - Quick-Edit Entity */
#layers-panel .directory-footer .quick-edit-entity {
    display: flex;
    height: 2em;
    margin: 0;
    padding: 0.25em;
    list-style: none;
    font-size: 0.85em;
}
/* Footer - Quick-Edit Entity - Header */
#layers-panel .directory-footer .entity-header {
    margin: auto 0;
    padding: 0;
    flex: 1 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.1em;
}
/* Footer - Quick-Edit Entity - Header FontAwesome Icon */
#layers-panel .directory-footer .entity-header i {
    margin-right: 0.5em;
}
/* Footer - Input Group */
#layers-panel .directory-footer .input-group {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
}
/* Footer - Input Group - Inputs */
#layers-panel .directory-footer .input-group input {
    height: 1.5em;
    background-color: hsla(60, 100%, 98%, 0.8);
}
/* Footer - Input Group - Label*/
#layers-panel .directory-footer .input-group label {
    margin-right: 0.25em;
}
/* Footer - Input Fields - Container */
#layers-panel .directory-footer .input-fields {
    background-color: hsla(60, 100%, 98%, 0.8);
    border: 1px solid hsl(50, 5%, 50%);
    border-radius: 3px;
    font-family: 'Consolas', 'Roboto Mono', 'Courier New', monospace;
}
/* Footer - Input Fields - Inputs */
#layers-panel .directory-footer .input-fields input {
    background: none;
    border: none;
    padding: 0.25em 0em;
    width: 3em;
    text-align: center;
}
/* Footer - Input Fields - Inputs - Numbers */
#layers-panel .directory-footer .input-fields input[type=number] {
    font-family: 'Consolas', 'Roboto Mono', monospace;
}
/* Footer - Input Fields - Joining Span Character */
#layers-panel .directory-footer .input-fields span {
    color: hsla(0,0%,0%,0.5);
    margin: 0 -0.75em;
}
/* Footer - Input Fields - Focused Sub-Input */
#layers-panel .directory-footer .input-fields:focus-within {
    box-shadow: 0 0 5px 0px hsla(0,100%,50%,1.0);
    outline: 2px auto hsla(10,50%,50%,0.5);
}
/* Footer - Input Fields - When Focused - FontAwesome Icon */
#layers-panel .directory-footer .input-group:focus-within label {
    text-shadow:  0px -1px 0px hsla(0,0%,0%,0.5),
                  1px  0px 0px hsla(0,0%,0%,0.5),
                  0px  1px 0px hsla(0,0%,0%,0.5),
                 -1px  0px 0px hsla(0,0%,0%,0.5),
                  0px  0px 6px hsla(0,100%,50%,1.0),
                  0px  0px 6px hsla(0,100%,50%,1.0);
}
/* Footer - Input Fields - When Focused - Focused Sub-Input */
#layers-panel .directory-footer .input-fields input:focus {
    box-shadow: 0 0 0px 1px hsla(50,5%,50%,0.5),
                0 0 5px 1px hsla(0,100%,50%,0.5);
    outline: 1px auto hsla(10,50%,50%,0.5);
}